


#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:


1.   R
2.   Python
3.   SQL

Some of the commonly used libraries used by Data Scientists include:


1.   matplotlib
2.   seaborn
3.   sci-kit learn

| Data Science Tools      |
|-------------------------|
| Jupyter Notebook         |
| RStudio                 |
| Spyder                  |

### Below are a few examples of evaluating arithmetic expressions in Python.

1. Addition: `5 + 3 = 8`
2. Subtraction: `10 - 4 = 6`
3. Multiplication: `6 * 7 = 42`
4. Division: `20 / 4 = 5`

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**


*   The most popular language in data science is R, Python and SQL
*   Most programmers use RStudio to run R code
*   Other programmers use Google Colab, Jupyter Notebook, Visual Studio
*   Some libraries in data science that are important are sci-kit learn, seaborn, matplotlib, ggplot etc
*   You can perform various arithmetic expression in addition, subtraction, multiplication, division.

##Author
Jovita Andrews